<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U.S. Memories</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Titillium+Web&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header id="header">
            <div class="logo"><h1>U.S. Memories</h1></div>
            <nav class="navegacion">
                <ul class="menu">
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#cursos">Cursos</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="#">Inicio de Sesión</a>
                        <ul class="submenu">
                            <li><a href="#">Alumnos</a></li>
                            <li><a href="#">Administrador</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <section id="inicio">
            <div class="imagen">
                <img src="image/prueba2.jpg" alt="Inicio">
            </div>
            <a href="#cursos"><i class="fas fa-chevron-down"></i></a>
        </section>
        <section id="cursos">
            <article>
                <h2 id="title">Cursos disponibles</h2>
                <div id="cursos-lista"></div>
            </article>
        </section>
        <section id="parte3">
            <article>
                <div class='img'>
                    <div id="imagen1"></div>
                </div>
                <div id="text1"><p>Lorem ipsum, dolor sit amet consectetur adipisicing
                elit. Nemo excepturi soluta earum tenetur sint autem magni aut rem. 
                Explicabo iste non amet dolor minus, maxime deserunt doloribus ipsa aliquid
                veritatis.Corporis, repudiandae sequi porro quidem tenetur, aliquid quibusdam dolores consequuntur possimus 
                ipsum aut laboriosam iste voluptatibus architecto laborum voluptatem 
                esse nesciunt voluptas eligendi facilis quisquam dicta soluta doloribus? At, blanditiis!</p></div>
            </article>
        </section>
        <section id="nosotros">
            <article>
                <div class="staff">
                    <div class="info-imag">
                        <div class="icono"><i class="fas fa-user-plus"></i></div>
                        <h6>Andrea Essa</h6>
                        <h6>Directora Ejecutiva</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores harum quod deleniti quo, dolorem labore nulla unde
                        quas ea, eius iure similique inventore praesentium, vero id voluptatum facilis molestias repellat?</p>
                    </div>
                    <div class="info-imag">
                        <div class="icono"><i class="fas fa-chess-knight"></i></div>
                        <h6>Andrés Vielma</h6>
                        <h6>CEO</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores harum quod deleniti quo, dolorem labore nulla unde
                        quas ea, eius iure similique inventore praesentium, vero id voluptatum facilis molestias repellat?</p>
                    </div>
                    <div class="info-imag">
                        <div class="icono"><i class="fas fa-chart-line"></i></div>
                        <h6>David Rivera</h6>
                        <h6>Director de Operaciones</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores harum quod deleniti quo, dolorem labore nulla unde quas ea, eius iure similique inventore praesentium, vero id voluptatum facilis molestias repellat?</p>
                    </div>
                </div>
            </article>
        </section>
        <footer id="footer"></footer>
    </div>
    <script src="https://kit.fontawesome.com/08d1435850.js" crossorigin="anonymous"></script>
</body>
</html>